.p-menu {
  /* margin: 2px 0px; */
}

.p-menu-sidebar {
  background-color: var(--main);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.466);
  z-index: 10;
}

.f-p-dtl-head {
  display: flex;
  justify-content: flex-start;
  width: 95%;
  margin-top: 10px;
  height: 5%;
  align-items: center;
  font-size: 18px;
  gap: 20px;
}
