.app-card {
  display: flex;
  /* background-color: var(--white) !important; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: 1s;
  font-size: 4rem;
  /* text-shadow: 0rem 0.2rem 0.5rem #00000070; */
  color: var(--black);
  -webkit-text-stroke: 0.1rem var(--main);
}

.settings-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 30%;
  left: 30%;
  width: 40%;
  background-color: var(--dark);
  /* justify-content: center; */
  align-items: center;
  gap: 1rem;
  padding-bottom: 3%;
  box-shadow: 0 0 0 9999.9rem rgba(255, 255, 255, 0.8);
  z-index: 10;
  border-radius: 4rem;
}

.grow-20 {
  height: 10%;
}

.set-ctrl {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.set-label {
  width: 25%;
  color: var(--black);
  font-size: 1.6rem;
}

.set-text {
  width: 60%;
}

.set-head {
  font-size: 2.5rem;
  color: var(--black);
  margin-top: 5%;
}

.set-text > input {
  border-radius: 4rem;
  /* height: 80%; */
  width: 100%;
  font-size: 1.3rem;
  font-style: italic;
  font-weight: normal;
  padding-right: 0;
}

.set-text > select {
  border-radius: 4rem;
  /* height: 80%; */
  width: 100%;
  font-size: 1.4rem;
  font-weight: normal;
}

.set-close {
  color: var(--white);
  font-size: 1.6rem;
  position: fixed;
  top: 31%;
  left: 68%;
  cursor: pointer;
  padding: 0rem 0.6rem;
  background-color: var(--red);
  border-radius: 100%;
}

.inactive {
  pointer-events: none;
}

.set-icon {
  width: calc(60% - 2rem);
  /* overflow-x: auto; */
  height: 7rem;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  background-color: white;
  /* height: 6.0rem; */
  /* padding-bottom: 0.5rem; */
  /* gap: .5rem; */
  justify-content: flex-start;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
}

.set-icon-option {
  background-color: var(--black);
  height: 5rem;
  width: 5rem;
  margin-left: 0.5rem;
  /* margin-top: 0.5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
}

.create-btn {
  padding: 0.5rem 2rem;
  background-color: var(--green);
  color: white;
  margin-top: 1rem;
  box-shadow: 0.05rem 0.05rem 0.5rem black;
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 1rem;
}

.cancel-btn {
  padding: 0.5rem 2rem;
  background-color: var(--red);
  color: white;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0.05rem 0.05rem 0.5rem black;
  font-size: 1.4rem;
  border-radius: 1rem;
}
