.dashboard-container {
  display: flex;
  height: 92vh;
  overflow-y: auto;
  align-items: center;
  /* flex-wrap: wrap; */
  /* padding-left: 3.0rem; */
  align-content: flex-start;
  justify-content: flex-start;
  /* margin-bottom: 3.0rem; */
}

.dash-cont {
  display: flex;
  flex-direction: column;
  height: 92vh;
  padding: 0rem 2rem 0rem 0rem;
  flex-grow: 1;
  overflow: hidden;
}

.dash-nav {
  display: flex;
  flex-direction: column;
  height: 92vh;
  /* min-width: 4vw; */
  padding: 0rem 1vw;
}

.app-nav {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  min-height: 82vh;
  max-height: 82vh;
  overflow-y: auto;
  gap: 5rem;
}

.edgePath > .path {
  stroke-width: 1;
}
