.navbar {
  display: flex;
  align-items: center;
  /* background-color: var(--dark); */
  /* box-shadow: 0.5rem 0.5rem 0.7rem; */
  height: 8vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  margin-top: 0rem;
}

.appname {
  font-family: "Reem Kufi";
  color: var(--black);
  font-weight: bold;
  font-size: 4rem;
  margin-right: 2rem;
  letter-spacing: -0.1rem;
}

.r-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8rem;
  margin-right: 4rem;
}

.r-nav > div {
  padding: 0.5rem 3rem;
  border-radius: 4rem;
  cursor: pointer;
}

.r-nav > div > * {
  color: var(--black);
  font-size: 3rem;
  -webkit-text-stroke: 0.1rem var(--main);
}

/* .delogo {
  padding: .5rem .5rem .5rem .5rem;
  content: url("./../../public/Group\ 1.svg");
  object-fit: fill;
  height: 4.5rem;
  margin-right: 1.0rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
} */

.applogo {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  content: url("./../../public/fi.png");
  object-fit: fill;
  height: 6rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.sel-nav {
  background-color: var(--black);
  padding: 1rem 3rem !important;
  /* -webkit-text-stroke: 0.1rem var(--accent) !important; */
}

.sel-nav > * {
  color: white !important;
  -webkit-text-stroke: 0rem !important;
  font-size: 2rem !important;
}

li {
  text-align: center;
}

a {
  text-decoration: none;
}

.hidden {
  display: none;
}

.pi-dd {
  margin-left: 5rem;
}

.user {
  background-color: var(--main);
  color: #ffffff;
}

.delogo {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  content: url("./../../public/siq.png");
  object-fit: fill;
  height: 4.5rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.client-logo {
  content: url("../../public/client-logo.png");
  background-color: white;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  object-fit: fill;
  height: 4.5rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.app-options {
  position: absolute;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100%;
  align-self: center;
  /* padding-top: 3rem; */
  /* margin-top: -3rem; */
  z-index: 10;
  /* box-shadow: 0 8px 6px -6px black; */
  box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.466);
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  overflow: hidden;
}

.app-option {
  height: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid #ededed;
  font-size: 1.6rem;
  gap: 1rem;
  cursor: pointer !important;
  z-index: 10;
  /* box-shadow: 0 1rem 1rem -1rem rgba(0, 0, 0, 0.466); */
}

.app-o-i {
  width: 4rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* height: 6rem; */
}

.app-o-n {
  /* font-weight: bold; */
  width: calc(100% - 6.5rem);
}

.app-o-as {
  width: 4.5rem;
  font-size: 2rem;
}

.app-o-as > i {
  color: #00c9ff;
  cursor: pointer;
}

.option-a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.8rem;
  vertical-align: middle;
  font-family: "Poppins";
  color: var(--black);
  cursor: pointer;
  margin-right: 3%;
  gap: 1vw;
}

.l-option {
  background-color: #ffffffaa;
  font-size: 2.2rem;
  color: var(--black);
  -webkit-text-stroke: 1px #ffffffaa;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 2rem;
  border-radius: 4rem;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
  position: relative;
}

.notif {
  position: absolute;
  top: -5%;
  left: 65%;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--green);
  border-radius: 100%;
  animation: pulse 1s infinite;
}

.notif-cont {
  position: absolute;
  font-size: 1.4rem;
  /* font-weight: 100; */
  display: flex;
  top: 95%;
  width: 700%;
  /* left: -300%; */
  right: -50%;
  background-color: var(--white);
  border-radius: 1rem;
  padding: 1rem 0rem;
  justify-content: center;
  z-index: 1000;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.notif-cont > div {
  color: var(--black);
  background-color: var(--white);
  padding: 1rem 2rem;
  -webkit-text-stroke: 0px;
  font-weight: 400;
  /* box-shadow: 0.1rem 0.1rem 1rem var(--accent); */
  border-radius: 1rem;
  width: calc(98% - 4rem);
  cursor: pointer;
  /* font-weight: bold; */
}

.notif-cont > div:hover {
  filter: brightness(1.1);
  background-color: var(--dark);
  color: var(--black);
}
