@media screen and (max-width: 1920px) {
  :root {
    --main: #f3f2e9;
    /* --main: white; */
    --maintrans: #0f2938;
    --white: #fffefd;
    --light: #e8e7de;
    --dark: #dcddd7;
    --darktrans: #102c3c;
    --grey: #dcddd7;
    --dark-grey: #9a9898;
    --accent: #e6ff55;
    --green: #00cc83;
    --red: #c25556;
    --lightaccent: #a5eded;
    --black: #0f1511;
    font-size: 56.25%;
  }
}

@media screen and (max-width: 1450px) {
  :root {
    --main: #f3f2e9;
    /* --main: white; */
    --maintrans: #0f2938;
    --white: #fffefd;
    --light: #e8e7de;
    --dark: #dcddd7;
    --darktrans: #102c3c;
    --grey: #dcddd7;
    --dark-grey: #9a9898;
    --accent: #e6ff55;
    --green: #00cc83;
    --red: #c25556;
    --lightaccent: #a5eded;
    --black: #0f1511;
    font-size: 50%;
  }
}

@media screen and (min-width: 1921px) {
  :root {
    --main: #f3f2e9;
    /* --main: white; */
    --maintrans: #0f2938;
    --white: #fffefd;
    --light: #e8e7de;
    --dark: #dcddd7;
    --darktrans: #102c3c;
    --grey: #dcddd7;
    --dark-grey: #9a9898;
    --accent: #e6ff55;
    --green: #00cc83;
    --red: #c25556;
    --lightaccent: #a5eded;
    --black: #0f1511;
    font-size: 62.5%;
  }
}

.App {
  text-align: center;
  height: 100vh;
  background-color: var(--white);
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: var(--white);
}

a:visited {
  color: var(--white);
}

.notification {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  top: 10%;
  left: 35%;
  width: 30%;
  height: 5%;
  /* background-image: linear-gradient(to right, #00cc83, #00cc83, #00cc83); */
  border-radius: 1rem;
  /* border: .4rem solid #15b07a; */
  z-index: 100;
  color: var(--white);
  font-family: "Poppins";
  /* padding: .0rem 1.0rem; */
  font-weight: bold;
  box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.466);
  /* animation: notif-animate 2s forwards 0s 1; */
  z-index: 10000;
}

.notification-hidden {
  display: none;
}

.ok-btn {
  width: 10%;
  /* font-weight: bold; */
  font-size: 1.4rem;
  border-left: 0.1rem solid rgba(255, 255, 255, 0.509);
  /* padding-left: 1.0rem; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  margin-left: -1rem;
  z-index: 99;
}

.notif-icon {
  width: 10%;
  font-size: 2.5rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.not-msg {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  height: 100%;
  align-items: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  font-size: 1.4rem;
}

@keyframes notif-animate {
  0% {
    background-image: linear-gradient(to right, white 0%, white 100%);
  }
  33% {
    background-image: linear-gradient(
      to right,
      #00cc83 0%,
      #00cc83 33%,
      white 45%,
      white 100%
    );
  }
  66% {
    background-image: linear-gradient(
      to right,
      #00cc83 0%,
      #00cc83 66%,
      white 78%,
      white 100%
    );
  }
  100% {
    background-image: linear-gradient(to right, #00cc83 0%, #00cc83 100%);
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--main);
  border-radius: 2rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.3rem var(--dark);
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--black);
  border-radius: 2rem;
}

select {
  outline-style: solid;
  outline-width: 0.1rem;
  outline-color: black;
  padding-left: 1rem;
  color: black;
}

select:focus {
  outline-style: solid;
  outline-width: 0.1rem;
  color: black;
  outline-color: black;
}

.loading {
  z-index: 10000;
  background-color: black;
  top: 47%;
  left: 48.5%;
  width: 3%;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 100%;
  padding: 1rem;
  animation: de 2s infinite forwards;
  content: url("../public/siq.png");
}

@keyframes de {
  0% {
    rotate: 0deg;
  }
  50% {
    rotate: 180deg;
  }
  100% {
    rotate: 360deg;
  }
}

.loading-bar {
  top: 8vh;
  /* width: 100%; */
  height: 0.5rem;
  position: absolute;
  background-color: #00cc83;
  animation: load 3s infinite;
  z-index: 10000;
}

@keyframes load {
  0% {
    width: 5%;
  }
  10% {
    width: 10%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 90%;
  }
}

/* .MuiSvgIcon-root {
  font-size: 1.75rem !important;
} */

.MuiSvgIcon-root > path {
  stroke: white;
  stroke-width: 1;
}

.MuiTablePagination-root > * > * {
  stroke-width: 2;
  font-size: 1.4rem !important;
}

.MuiTablePagination-root > * {
  stroke-width: 2;
  font-size: 1.3rem !important;
}

.MuiTablePagination-toolbar {
  min-height: 4rem !important;
}
